<%- include('../partials/header') %>
<div>
    <h1>NOVO USUÁRIOS</h1>
    <form action="criar" method="POST">
        Nome: <input name="nome" /><br/>
        E-mail: <input name="email" /><br/>
        <input type="submit" name="enviar" value="Salvar" />
    </form>

</div>
<%- include('../partials/footer') %>